
@import '../../common/colors.scss';

button {
  padding: 20px;
  background-color: transparent;
  color: $white;
  font-weight: 300;
  border: 1px solid $white;
  cursor: pointer;
  transition:
    color .5s ease-in,
    background-color .5s ease-in,
    border .5s ease-in,
    box-shadow .5s ease-in,
    transform .5s ease-in;

  &.button--small {
    padding: 10px;
  }
  &.button--white {
    background-color: $white;
    color: $black;

    &:hover {
      background-color: transparent;
      color: $white;
    }
  }
  &.button--orange {
    background-color: $orange;
    color: $black;
    border-color: transparent;

    &:hover {
      border-color: $orange;
      color: $white;
      background-color: transparent;
    }
    &:active,
    &:focus {
      box-shadow:
        0 0 4px 5px $orange,
        0 0 4px 8px $black,
        0 2px 12px 6px #ffc107;
    }
  }
  &.button--round {
    border-radius: 20px;
    
    &.button--small {
      border-radius: 10px;
    }
  }

  &:active {
    transform: scale(.99) translateY(3px);
  }
  &:hover {
    background-color: $white;
    color: $black;
    transition:
      color .3s ease-out,
      background-color .3s ease-out,
      border .3s ease-out,
      box-shadow .3s ease-out,
      transform .3s ease-out;
  }
}