@import '../../../common/colors.scss';

.services {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: linear-gradient(180deg, #0c0c1d, #111132);

  .textContainer {
    flex: 1;
    align-self: flex-end;
    display: flex;
    align-items: center;
    gap: 20px;
    
    p {
      text-align: right;
    }
    hr {
      width: 500px;
      border: none;
      border-top: .5px solid $gray;
    }
  }

  .titleContainer {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;

    .title {
      display: flex;
      align-items: center;
      gap: 50px;

      p {
        font-size: 96px;
        transition: color .3s ease-in-out;
      }
    }
    button {
      font-size: 24px;
    }
    img {
      object-fit: cover;
      border-radius: 50px;
    }
    img,
    button {
      width: 300px;
      height: 100px;
    }
     .hover-effect {
      &:hover {
        color: orange;
        font-style: italic;
      }
    }
  }

  .listContainer {
    flex: 2;
    display: flex;
    max-width: 1366px;
    margin: 0 auto;

    .box {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 20px;
      padding: 50px;
      border: .5px solid $gray;
      transition: background-color .3s ease-in;

      &:hover {
        background-color: $white;
        color: $black;
        transition: background-color .5s ease-out;
      }
    }
  }
}