.contacts {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  max-width: 1366px;
  margin: auto;

  .textContainer {
    display: flex;
    flex-direction: column;
    gap: 40px;

    h1 {
      font-size: 100px;
      line-height: 88px;
    }

    span {
      font-weight: 300;
    }
  }

  .textContainer,
  .formContainer {
    flex: 1;
  }

  .formContainer {
    position: relative;

    .phoneSvg {
      position: absolute;
      margin: auto;
      stroke: orange;
      pointer-events: none;
    }
  }
}