@use './common/fonts.scss';
@use './common/typographic.scss';
@import './common/colors.scss';

html {
  // scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  cursor: none;
}

body {
  background-color: $main-bg-site;
  color: $lightgray;
  font-family: 'DM Sans', Arial, Helvetica, sans-serif;
}

section {
  min-height: 100vh;
  max-height: max-content;
  // scroll-snap-align: center;
}
button {
  cursor: none;
}
input, textarea {
  outline: none;
}

.custom-cursor__mix-blend-mode {
  mix-blend-mode: difference;
}
.custom-cursor * {
  cursor: url('./cursor.svg'), auto;

  path, g {
    .isolate {
      isolation: isolate;
    } /* Without isolation, the background color will be taken into account */
  }
}