@use './fonts/fonts.scss';

html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #0c0c1d;
  color: lightgray;
  font-family: 'DM Sans', Arial, Helvetica, sans-serif;
}

section {
  height: 100vh;
  scroll-snap-align: center;
}

button {
  border: none;
  cursor: pointer;
  font-weight: 500;
}

.custon-cursor {
  cursor: url('./cursor.svg'), auto;
}