@import '../common/colors.scss';

h1 {
  font-size: 88px;
}
h4 {
  font-size: 30px;
}
p {
  font-weight: 200;
  font-size: 20px;
  color: $gray;
}
.text-white {
  color: $white
}
.text-bold-sm {
  font-weight: 300;
}
.text-bold-md {
  font-weight: 700;
}
.text-bold-lg {
  font-weight: bold;
}