@use 'sass:math';
@import '../../common/colors.scss';

.cursor {
  z-index: 9999;
  position: fixed;
  border-radius: 50%;
  border: 1px solid $white;
  pointer-events: none;
  mix-blend-mode: exclusion;

  @for $i from 1 through 4 {
    $k: 6;
    $kTransition: $i / ($i + $k);

    &:nth-child(#{$i}) {
      top: -25px;
      left: -25px;
      width: #{$i * $k + 50}px;
      height: #{$i * $k + 50}px;
      // transition:
      //   background-color #{$kTransition + $kTransition * $i / 10}s ease-in-out,
      //   opacity #{$kTransition + $kTransition * $i / 5}s ease-in-out,
      //   transform #{$kTransition}s ease-in-out;
      background-color: rgba($color: $orange, $alpha: 1 - (1 / $i));

      &.static {
        // opacity: 0;
      }
    }
  }
}